
/* Стили для контейнеров слайдера */
.slider-for,
.slider-nav {
    margin: 20px auto; /* Расстояние между слайдерами */
    width: 80%; /* Ширина слайдера */
    background-color: #3C3C3C; /* Цвет фона слайдера */
    border-radius: 10px; /* Скругление краев слайдера */
}

/* Стили для больших изображений в слайдере */
.slider-for img {
    width: 750px; /* Ширина больших изображений */
    height: 420px; /* Высота больших изображений */
    border-radius: 10px; /* Скругление краев больших изображений */
    object-fit: cover; /* Заполнение изображения по размеру контейнера без искажений */
}

/* Стили для маленьких изображений в слайдере */
.slider-nav img {
    width: 165px; /* Ширина маленьких изображений */
    height: 165px; /* Высота маленьких изображений */
    border-radius: 10px; /* Скругление краев маленьких изображений */
    object-fit: cover; /* Заполнение изображения по размеру контейнера без искажений */
}

/* Устанавливаем расстояния между маленькими изображениями */
.slider-nav img {
    margin: 30px; /* Расстояние между маленькими изображениями */
}

/* Устанавливаем расстояние между большими и маленькими изображениями */
.slider-nav {
    margin-top: 45px; /* Расстояние между большой и маленькими изображениями */
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 767px) {
    /* Стили для больших изображений на мобильных устройствах */
    .slider-for img {
        width: 100%; /* Ширина больших изображений на мобильных устройствах */
        height: auto; /* Автоматическая высота больших изображений на мобильных устройствах */
    }

    /* Стили для маленьких изображений на мобильных устройствах */
    .slider-nav img {
        width: 80px; /* Ширина маленьких изображений на мобильных устройствах */
        height: 80px; /* Высота маленьких изображений на мобильных устройствах */
    }
}
